In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('students_performance_huruf.csv')
df.head()

,Marital_status,Application_mode,Application_order,Course,Daytime_evening_attendance,Previous_qualification,Previous_qualification_grade,Nacionality,Mothers_qualification,Fathers_qualification,...,Curricular_units_2nd_sem_credited,Curricular_units_2nd_sem_enrolled,Curricular_units_2nd_sem_evaluations,Curricular_units_2nd_sem_approved,Curricular_units_2nd_sem_grade,Curricular_units_2nd_sem_without_evaluations,Unemployment_rate,Inflation_rate,GDP,Status
0,Single,2nd Phase - General Contingent,5,Animation and Multimedia Design,Daytime,Secondary Education - 12th Year of Schooling o...,122.0,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Other - 11th Year of Schooling,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,0
1,Single,International Student (Bachelor),1,Tourism,Daytime,Secondary Education - 12th Year of Schooling o...,160.0,Portuguese,Secondary Education - 12th Year of Schooling o...,Higher Education - Degree,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,2
2,Single,1st Phase - General Contingent,5,Communication Design,Daytime,Secondary Education - 12th Year of Schooling o...,122.0,Portuguese,Basic Education 1st Cycle (4th/5th Year) or Eq...,Basic Education 1st Cycle (4th/5th Year) or Eq...,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,0
3,Single,2nd Phase - General Contingent,2,Journalism and Communication,Daytime,Secondary Education - 12th Year of Schooling o...,122.0,Portuguese,Basic Education 2nd Cycle (6th/7th/8th Year) o...,Basic Education 1st Cycle (4th/5th Year) or Eq...,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,2
4,Married,Over 23 Years Old,1,Social Service (Evening Attendance),Evening,Secondary Education - 12th Year of Schooling o...,100.0,Portuguese,Basic Education 1st Cycle (4th/5th Year) or Eq...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,2

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 37 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Marital_status                                4424 non-null   object
 1   Application_mode                              4424 non-null   object
 2   Application_order                             4424 non-null   int64
 3   Course                                        4424 non-null   object
 4   Daytime_evening_attendance                    4424 non-null   object
 5   Previous_qualification                        4424 non-null   object
 6   Previous_qualification_grade                  4424 non-null   float64
 7   Nacionality                                   4424 non-null   object
 8   Mothers_qualification                         4424 non-null   object
 9   Fathers_qualification                         4424 non-null   object
 10  Mothers_occupation                            4424 non-null   object
 11  Fathers_occupation                            4424 non-null   object
 12  Admission_grade                               4424 non-null   float64
 13  Displaced                                     4424 non-null   object
 14  Educational_special_needs                     4424 non-null   object
 15  Debtor                                        4424 non-null   object
 16  Tuition_fees_up_to_date                       4424 non-null   object
 17  Gender                                        4424 non-null   object
 18  Scholarship_holder                            4424 non-null   object
 19  Age_at_enrollment                             4424 non-null   int64
 20  International                                 4424 non-null   object
 21  Curricular_units_1st_sem_credited             4424 non-null   int64
 22  Curricular_units_1st_sem_enrolled             4424 non-null   int64
 23  Curricular_units_1st_sem_evaluations          4424 non-null   int64
 24  Curricular_units_1st_sem_approved             4424 non-null   int64
 25  Curricular_units_1st_sem_grade                4424 non-null   float64
 26  Curricular_units_1st_sem_without_evaluations  4424 non-null   int64
 27  Curricular_units_2nd_sem_credited             4424 non-null   int64
 28  Curricular_units_2nd_sem_enrolled             4424 non-null   int64
 29  Curricular_units_2nd_sem_evaluations          4424 non-null   int64
 30  Curricular_units_2nd_sem_approved             4424 non-null   int64
 31  Curricular_units_2nd_sem_grade                4424 non-null   float64
 32  Curricular_units_2nd_sem_without_evaluations  4424 non-null   int64
 33  Unemployment_rate                             4424 non-null   float64
 34  Inflation_rate                                4424 non-null   float64
 35  GDP                                           4424 non-null   float64
 36  Status                                        4424 non-null   int64
dtypes: float64(7), int64(13), object(17)
memory usage: 1.2+ MB

In [6]:
# Koneksi ke PostgreSQL (gunakan username, password, dbname dari docker-compose.yml)
engine = create_engine("postgresql://metabase:metabase123@localhost:5432/dropout_db")

# Simpan DataFrame ke PostgreSQL
df.to_sql("db_univ_jaya", engine, index=False, if_exists="replace")

print("âœ… Import berhasil!")

âœ… Import berhasil!